// Color Scheme

// First Color Scheme
$app-color-primary1: #000000; // Black
$app-color-primary2: #9c9c9c; // Gray
$app-color-primary3: #ffffff; // White

// Buttons
$app-color-btn-message: #a2d6e9;
$app-color-btn-follow: #f06464;

// Font Family

// Logo Navbar
$app-f-family1: "Poppins", sans-serif; // Logo Navbar
$app-f-family2: "Montserrat", sans-serif; // Titles

// Font Weight
$app-fw-regular: 400;
$app-fw-medium: 500;
$app-fw-bold: 700;

// Font Sizes
$app-f-size-x-small: 12px;
$app-f-size-small: 14px;
$app-f-size-medium: 16px;
$app-f-size-large: 18px;
$app-f-size-x-large: 20px;
$app-f-size-xx-large: 30px;
$app-f-size-xxx-large: 50px;
